<aside
  class="custom-aside"
  [ngClass]="{
    'sidebar-collapsed': (sidebarService.$collapsed | async),
    'sidebar-expanded': !(sidebarService.$collapsed | async)
  }"
>
  <div class="aside-header">
    <img src="assets/icons/Group 2.svg" />
    <div class="rounded-pic">
      <img
        src="https://cdn.britannica.com/47/188747-050-1D34E743/Bill-Gates-2011.jpg"
      />
    </div>
  </div>
  <h1>Companies</h1>
  <div class="container">
    <ng-container *ngFor="let item of companies">
      <app-group-item [item]="item"></app-group-item>
    </ng-container>
  </div>

  <button class="close" (click)="sidebarService.toggleCollapsed()">X</button>
</aside>
